body
{
	background:rgba(250,220,120,0.3);
}
.nav-link:hover
{
	margin:auto;
	color:yellow;
	background:black;
	background-size: 100%;
}
.nav-link
{
	font-size:20px;
}
.logo
{
	color:YELLOW;
}
.dropdown-item:hover
{
	background:yellow;
}