body
{
	background:rgba(250,220,120,0.3);
}
.nav-link:hover
{
	margin:auto;
	color:yellow;
	background:black;
	background-size: 100%;
}
.nav-link
{
	font-size:20px;
}
.logo
{
	color:YELLOW;
}
.dropdown-item:hover
{
	background:yellow;
}
.text
{
	animation: anima 2s infinite;
}
@keyframes anima
{
0% {text-shadow:2px 2px 4px BLUE;}
25% {text-shadow:2px 2px 4px YELLOW;}
50% {text-shadow:2px 2px 4px BLUE;}
75% {text-shadow:2px 2px 4px YELLOW;}
100% {text-shadow:2px 2px 4px BLUE;}
}
	
